{{!-- Up --}}
<div class="container">
  <div class="up-container">
    <div class="title text-center">
      <h1 class=" title mb-0 mx-auto">View Account</h1>
      <p class="text-extra-small pt-0 mt-0">Check the Pokémon account detailed info and more IV100 pokemon.
      </p>
    </div>
  </div>
</div>
{{!-- Mid --}}
<div class="container">
  <div class="mid-container row d-flex align-items-stretch">
    {{!-- left --}}
    <div class="mid-left col-12 col-lg-8 row">
      <div class="img-team  col-12 col-lg-2 ">
        <img src="/images/PokeTeams/red.png" alt="">
      </div>
      <div class="talk-to-client  col-12 col-lg-8 ">
        <span>Hey Trainer! Ready to start on a journey with Team Buy team Valor Pokémon Go Accounts Valor ? With your
          new Pokémon Go
          Account you will be more than ready to join us!
          Buy team Valor Pokémon Go Accounts Valor</span>
      </div>
    </div>
    {{!-- right --}}
    <div class="mid-right col-12 col-lg-4">
      <span>oday's price only!
        USD 419.99
        Buy now
        Instant Delivery
        Lifetime Guarantee
        Hours of Fun
        Secure Payment
        24/7 Support
        includes VAT</span>
    </div>
  </div>
</div>
{{!-- Down --}}
{{!-- detail info & IV100 & legend pokemons --}}
<div class="container">

  {{!-- mewoth + detail title --}}
  <div class="down-container">
    <div class="header-container">
      <div class="row justify-content-center text-center">
        <div class="row">
          <div class="col-lg-6 mx-auto col-12">
            <h3>Detail Info</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mx-auto col-12">
            <img src="/images/someIcon/meowth.png" alt="">
          </div>
        </div>

      </div>
    </div>

    {{!-- account info like level,stardust... --}}
    <h4 class="text-center text-uppercase">Account Overview</h4>
    <div class="up-info-container row">

      <div class="inner-table text-center col-lg-8 mx-auto">
        <div class="table-responsive ">
          <table class="table ">

            <thead>
              <tr>
                <th class="" scope="col">Item</th>
                <th scope="col">Content</th>
              </tr>
            </thead>

            <tbody>
              {{!-- account_id 編號 --}}
              <tr>
                <td style=""> Account Id</td>
                <td>B01</td>
              </tr>
              {{!-- 隊伍 --}}
              <tr>
                <td>Team</td>
                <td>Red</td>
              </tr>
              {{!-- 等級 --}}
              <tr>
                <td>Level</td>
                <td>40</td>
              </tr>
              {{!-- 星砂 --}}
              <tr>
                <td>Stardust</td>
                <td>40 (Unit:10k)</td>
              </tr>
              {{!-- 價格 --}}
              <tr>
                <td>Price</td>
                <td>55555 NT</td>
              </tr>
              {{!-- youtube 如果有 --}}
              <tr>
                <td>Youtube</td>
                <td><a href="https://www.youtube.com/shorts/BcUowfyexzw">Click here!</a> </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>



    {{!-- iv100 & legend --}}
    <h4 class="text-center text-uppercase">POKÉMONS LIST</h4>
    <div class="down-info-container row mx-auto">

      {{!-- this accounts --}}
      <div class="detail-account pad mx-auto col-lg-8 col-12 card text-center">

        <div class="card-header switchHeader mx-n3">
          <ul class="nav nav-tabs card-header-tabs row my-auto">
            <li class="nav-item col-6 ">
              <div class="d-flex justify-content-between">
                <a class="nav-link active" aria-current="true" href="">IV100 Pokemons </a>


              </div>
            </li>
            <li class="nav-item col-6 ">
              <div class="d-flex justify-content-center align-items-center">
                <a class="nav-link " href="">Legend Pokemons</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="acct-iv100 card-body">

          {{!-- row 1 --}}
          <div class="row mb-3">
            <div class="col-2">
              <img class="card-img" src="/images/PokemonDataset/pikachu.png" alt="">
              <span>Pikachu</span>
            </div>
            <div class="col-2">
              <img class="card-img" src="/images/PokemonDataset/pikachu.png" alt="">
            </div>
            <div class="col-2">
              <img class="card-img" src="/images/PokemonDataset/pikachu.png" alt="">
            </div>
            <div class="col-2">
              <img class="card-img" src="/images/PokemonDataset/pikachu.png" alt="">
            </div>
            <div class="col-2">
              <img class="card-img" src="/images/PokemonDataset/pikachu.png" alt="">
            </div>
            <div class="col-2">
              <img class="card-img" src="/images/PokemonDataset/pikachu.png" alt="">
            </div>
          </div>



        </div>

      </div>









    </div>

  </div>
</div>