<button id="chat-icon" style="position: fixed; right: 20px; bottom: 20px;z-index: 100; ">

  <div>
    {{!-- 如果 isReadUser = false 才顯示下面兩樣 --}}
    {{!-- {{if }} --}}
    <span class="notYetReadMsgCounts"
      style="position:fixed;right: 60px; bottom:60px; color: aqua;display:none ">0</span>
    <img id="newMsgIcon" width="30" height="30" src="/images/someIcon/newMsg.png"
      style="position: fixed; right: 20px; bottom: 60px; z-index: 100; display:none">
  </div>

  <div>
    <img src="/images/someIcon/chat.png" alt="">
  </div>

</button>



{{!-- "background-color:rgb(0,0,0,0);" 可以暫時隱藏 --}}
<section style="background-color45:rgba(44, 19, 155, 0.5);">

  <div class="chat-container">

    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <form action="" id="chatbox-form">




          <div class="card" id="chat-window">

            {{!--login request --}}
            <div id="log-check-chatbox" class="chat-overlay">
              <p>請登入以使用交談功能</p>
            </div>

            <div class="card-header d-flex justify-content-between align-items-center p-3">
              <h5 class="mb-0">Helper</h5>
              {{!-- <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Let's Chat --}}
                {{!-- App</button> --}}
            </div>
            <div class="card-body" id="chat-window-body" data-mdb-perfect-scrollbar="true"
              style="position: relative; height: 400px">

              <div class="d-flex flex-row justify-content-start mb-4">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 1"
                  style="width: 45px; height: 100%;">
                <div>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Anything i could do for
                    you?</p>
                  <p class="small ms-3 mb-3 rounded-3 text-muted">Few minutes ago</p>

                </div>
              </div>



            </div>
            {{!-- 送出對話列 --}}
            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp" alt="avatar 3"
                style="width: 40px; height: 100%;">
              <input type="text" class=" form-control form-control-lg" id="chatbox-input" autocomplete="off"
                placeholder="Type message">
              <button class="text-send-button">Send</button>

              {{!-- <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
              <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
              <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a> --}}
            </div>
          </div>

        </form>

      </div>
    </div>

  </div>
</section>