<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokemon Go Account for Sale</title>

  {{!-- CDN --}}
  {{!-- 開發用暗色 --}}

  {{!--
  <link href="https://bootswatch.com/5/cyborg/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"> --}}
  {{!-- 一般版bs --}}
  {{!--
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> --}}

  {{!-- install --}}
  <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>



<body>
  {{> header}}


  {{{body}}}


  {{> chatbox}}
  {{> footer}}


  {{> search}}
</body>


{{!--
<link rel="stylesheet" href="/public/css/style.css"> --}}
{{!-- 開發用暗色 --}}

{{!--
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
--}}
{{!-- 一般版bs --}}
{{!--
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
--}}
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/383a0e49af.js" crossorigin="anonymous"></script>

<script src="/js/checkboxSelectAll.js"></script>
<script src="/js/chatbox.js"></script>
<script src="/js/search.js"></script>



{{!--
<script src="/js/getFirstTime.js"></script> --}}
<script>
  const user = {{{ jsonfy user }}}
</script>
{{!-- 因為socket.js 需要用到上方定義的 user 所以移動位置到下方 --}}
<script src="/socket.io/socket.io.js"></script>

<script src="/js/socket.js"></script>

</html>