
{{!-- UP --}}
<div class="up-container row mt-3">
  {{!-- L: slogan/description/browse all R: meow image --}}
  {{!-- L --}}
  <div class="upLeft row col-md-6 ms-2 d-flex justify-content-center">
    <span class="text-success"><b>Never try cheap but dangerous accounts!</span></b>
    <span>Here are the most secure PTC accounts available. <br>
      No need to worry about any potential hacking attempts. <br>
      Since your purchase, you'll have full access to change the PTC email. <br>
    </span>
    {{!-- 用了d-flex 才能讓a元件內的文字志中 --}}
    <a href="" class="col-md-4 btn btn-outline-warning d-inline-flex align-items-center justify-content-center">Browse
      all accounts</a>
  </div>
  {{!-- R --}}
  <div class="upRight col-md-6">
    {{!-- 因為已經use public 所以不用加上/pub --}}
    <img class="col-md-6" src="/images/mewtwo.png" alt="">
    {{!-- <span>超夢照片</span> --}}
  </div>

</div>

{{!-- MIDDLE display demo account --}}
<div class="middle-container d-flex">

</div>
{{!-- demo account display --}}

{{!-- Down --}}
{{!-- payment --}}
{{!-- nonsense --}}