.LC {
  font-size: 20px;
  /* 調整字體大小 */
}

.navbar-nav .nav-item .nav-link {
  font-size: 20px;
  /* 調整連結文字大小 */
}

.navbar-toggler {
  background-color: rgb(91, 99, 29);
  /* 調整按鈕顏色 */
  border-color: rgb(26, 234, 3);
}