/* TODO:
1. 顏色變數
2. css檔案管理
3. class命名
*/

/* 最好每一次專案都設這個 會讓img自動適應視窗大小 */
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.accountsSort {
  position: relative;
  padding-left: 30px;
}

.indented-text {
  /* display: block; */
  /* text-indent: 20px; */
}

.span-container {
  /* white-space: pre-line; */
}

/* 定義header active樣式 */
.main-header .nav-link.active {
  color: rgb(255, 218, 7); // yellow
  background-color: rgba(89, 47, 130, .5);
  border-radius: 20%;
}

.nav-link:hover {
  color: rgb(255, 218, 7);
}

.index-vice-title {
  font-size: 24px;
  color: rgb(255, 218, 7);
  margin-bottom: 0;
}

.title-description {
  position: absolute;
  font-size: 12px;
  color: white;
}

.data-search-btn {
  font-weight: 400;
}

.flash-message {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  /* 確保它在最上層 */
  width: 70%;
}

.inner-table td,
tr {
  text-align: start;
}

.promises span {
  color: gray;
}

.inner-table th {
  background-color: rgb(107, 141, 141);
}

.inner-table td {
  background-color: rgb(52, 65, 65);
}


.account {
  /* padding: 0 20px; */
  display: flex;
  /* b/g/s
  flex-basis:每張卡佔多少空間
  flex-glow:分配剩餘空間 ０:不分配 1:平均分 ２：中間是右邊的兩倍
  flex-shrink:空間不足時如何收縮 這裡統一設１：表示三個帳號都會同比例收縮
  若設定不同shrink 就會有不同收縮效果
  */
  /* flex: 32.5% 0 1; */
  /* margin-right: -100px; */
}

.switch-field {
  display: flex;
  overflow: hidden;
}

.switch-field input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  line-height: 1;
  text-align: center;
  padding: 8px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked+label {
  background-color: rgb(255, 218, 7);
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}



/* 只在 992 以上視窗起作用 */
@media (min-width:992px) {
  .account {
    display: flex;
    flex: 32.5% 0 1;
  }
}

.upLeft {
  font-size: 20px;
}

.indexSlogan {
  font-size: xx-large;

}

.indexDescription {
  color: rgb(130, 130, 39);

}

.accountsSlogan {
  font-size: x-large;
}

.accountsInfo2 {
  color: rgb(225, 190, 147);
  font-size: 18px;
  text-align: center
}

.accountsFilterSort {
  color: rgb(178, 110, 26);
  font-size: 36px;
  /* border: solid 3px tomato; */
}

.accountsFilter {
  color: rgb(178, 110, 26);
  font-size: 26px;
  border: solid 3px rgb(67, 99, 85);
  /* border-radius: 25%; */
}

.accountsSort {
  color: rgb(178, 110, 26);
  font-size: 26px;
  border: solid 3px rgb(67, 99, 85);
  /* border-radius: 50%; */
}


.nav-link2 {
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--bs-nav-link-color);
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 這裡的最後一個數值 (0.5) 控制透明度 */
  z-index: 999;
  /* 確保遮罩層在最上層 */
}

.levelStardust {
  font-size: 22px;
}

.accountStardust {
  font-size: 18px;
}

.accountStardustUnit {
  font-size: 13px;
  color: gray;
}

.priceAccountId {
  padding: 0%;
}

.accountPrice {
  font-size: 14px;
  color: rgba(255, 255, 0, 0.751);

}

.accountId {
  font-size: 16px;
  color: rgb(37, 193, 37);
}

.switchHeader {
  font-size: 12px;
  background-color: rgb(79, 72, 72);
}

.accountDetail,
.accountAddToCart {
  background-color: rgb(27, 121, 111);
  /* 讓背景顏色跟隨父元素 */
  color: white;
  /* 設置文字顏色為白色 */
  border: none;
  /* 移除按鈕邊框 */
  cursor: pointer;
  /* 添加一個手形游標 */
  transition: background-color 0.3s;
}

.accountDetail:hover {
  background-color: rgba(66, 55, 55, 0.5);

}

.accountAddToCart:hover {
  background-color: rgba(66, 55, 55, 0.5)
}

.cart-img {
  width: 18px;
  display: inline;
}


/* chat */

#chat-window .form-control {
  border-color: transparent;
}

#chat-window .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

/* 整個彈窗 */
#chat-window {
  display: none;
  /* 初始隱藏 */
  position: fixed;
  /* 固定位置 */
  right: 60px;
  /* 靠右邊 */
  bottom: 60px;
  /* 靠底部 */
  z-index: 99;
  /* 控制層級，使其顯示在其他元素之上 */
}

.chat-container .card-body {
  position: relative;
  height: 400px;
  overflow-y: auto;
  /* 允許垂直滾動 */
}

#chat-icon {
  background: transparent;
  border: transparent;
}

#memberUl li {
  cursor: pointer;
}

#messagesAdmin {
  height: 400px;
  overflow-y: auto;
}


/* member */

.member-list-name,
.member-list-message {
  font-size: 20px;
}

.member-list-message {
  text-emphasis-color: green;
  color: rgb(164, 225, 225);
}

#log-check-chatbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(114, 102, 102, 0.5);
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 200;
  /* 確保此值大於聊天視窗的 z-index */
}

#log-check-chatbox p {
  /* background: rgba(114, 102, 102, 0.5); */
  font-size: larger;
  color: rgb(224, 40, 40);
  align-items: center;
  justify-content: end;
  /* 確保此值大於聊天視窗的 z-index */
}

.team-info {
  position: relative;
  /* display: inline-block; */
  /* 或其他適合的佈局 */
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgb(120, 69, 69);
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* 將提示框移到元素的中心 */
  opacity: 0;
  transition: opacity 0.3s;
}

.team-info:hover .tooltip {
  visibility: visible;
  opacity: 1;
}