<div class="container mx-auto">


  <div class="">
    <span>{{lang.pageToUpdate}}</span>
  </div>
  <div>
    <img src="/images/info/record8591{{lang.indexImg}}.jpg" alt="">
  </div>
  <br>
  <img src="/images/info/feedback1{{lang.feedbackLang}}.jpg" alt="">
</div>